<div class="container-fluid text-center main-wrapper">


  <div id="form-contact" class="col-12 col-lg-5 text-center footer-container d-inline-block">
    <h3>Contact us</h3>
    <form class="container text">


        <input type="text" id="name" name="name" placeholder="Name"/>
        <input type="email" id="email" name="email" placeholder="Mail"/>

        <input type="textarea" id="message" name="message" placeholder="Your message"/>
        <input type="submit" value="Send your message"/>


    </form>
  </div>

  <div id="social-networks" class="col-12 col-lg-3 text-center footer-container d-inline-block">
    <h3>Social networks</h3>
    <div class="container networks-container">

      <div class="row">
        <div class="sn-box col-4 offset-2">
          <a href="#" class="fa fa-facebook-square sn-icon"></a>
        </div>

        <div class="sn-box col-4">
          <a href="#" class="fa fa-twitter-square sn-icon"></a>
        </div>     
      </div>

      <div class="row">
      <div class="sn-box col-4 offset-2">
          <a href="#" class="fa fa-linkedin-square sn-icon"></a>
        </div>      
        
        <div class="sn-box col-4">
          <a href="#" class="fa fa-github-square sn-icon"></a>
        </div>
      </div>
 

    </div>
  </div>


  <div id="legal-mentions" class="col-12 col-lg-3 footer-container text-center d-inline-block">
    <h3>Legal Notice</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sapiente porro nam. Exercitationem, animi vel sequi libero, ullam laudantium nemo, necessitatibus amet magni eaque totam porro eveniet dolores optio! Repudiandae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sapiente porro nam. Exercitationem, animi vel sequi libero, ullam laudantium nemo, necessitatibus amet magni eaque totam porro eveniet dolores optio! Repudiandae</p>
  </div>

</div>