/* General rules */

.main-wrapper{
    background-color: black;
}

.footer-container{
    margin:10px;
    padding:20px;
}

h3{
    font-family: "newSpace",'Courier New', Courier, monospace;
    color: #FFF;
    text-shadow:0 5px 15px white;
    margin-bottom:10%;
}


/* Form rules */

form input, form select{
    width: 70%;
    margin-bottom:10%;
    border-radius:0%;
}

/* Social networks rules  */

.networks-container{
    font-size:4em;
}

a{
    transition: all 0.5s;
}

.sn-icon{
    color:#51b0ff;
}

a:hover{
    color:#FFF;
    text-shadow:0 5px 15px white;
}


/* Legal mentions rules  */

#legal-mentions{
    color : #83D7DC;
    border : 0.01px solid #83D7DC;
    text-align: center;
}