<div *ngFor="let current of list | priceRange:distMin:distMax" class="planet-box text-center" (click)="selection(current)">
        <div class="inside-planet-box-wrap">
                <img src="/src/assets/img/earth-1151659_1920.jpg">
                <p>Planet Name : {{current.pl_name}}</p>
                <p>Distance to Earth :{{current.st_dist}}</p>
                <button class="d-sm-inline-block d-md-inline-block d-lg-none phone-choose-button"  (click)="goTop()" [routerLink]="['/shipchoice',userSettings.budget,userSettings.distance, current.pl_name]">GO
                ON THIS PLANET</button>
        </div>
</div>