
h1{
    font-family: 'Kodchasan', sans-serif;
    text-shadow:0 5px 15px black;
}


.container-fluid{
    color:#FFF;
}

.bloc-list-planets{
    overflow: auto;
    height: 500px;
    margin : 0 auto;
}

#current-planet{
    top :auto;
}

button{
    font-family: "newSpace",'Courier New', Courier, monospace;
    font-size:6vw;
    color:#4adb4c;
    margin-top:10%;
    width:90%;
    margin-bottom:20px;
    border:none;
    background: transparent;
}

/* Left bloc  */


img{
    width: 100%;
    height: 200px;
    margin-top:25px;
}

h4{
    margin-top:25px;
}
ul{
    list-style: none;
    margin-top:25px;
}

.info-current-planet{
    background-color: rgba(500, 500, 500, 0.4);
    margin-top: 10%;
    padding: 2%;
    border-radius: 25px;
}