.container-fluid{
    color:#FFF;
}

.bloc-list-planets{
    overflow: auto;
    height: 500px;
    margin : 0 auto;
}

#current-planet{
    top :auto;
}

button{
    font-family: "newSpace",'Courier New', Courier, monospace;
    font-size:6vw;
    color:#4adb4c;
    margin-top:10%;
    width:90%;
    margin-bottom:20px;
    border:none;
    background: transparent;
}