h2{
    font-family: 'Kodchasan', sans-serif;
}


.container-fluid{
    color:#FFF;
}

app-planet-list{
    display: flex;
}

.bloc-list-planets{
    overflow: scroll;
    margin:0
}
button{
    font-family: "newSpace",'Courier New', Courier, monospace;
    font-size:6vw;
    color:#FFF;
    margin-top:5%;
    width:100%;
    margin-bottom:20px;
    border:none;
    background: transparent;
}


/* Left bloc  */


img{
    width: 80%;
    margin-top:25px;
}

h4{
    margin-top:25px;
}

ul{
    list-style: none;
    margin-top:25px;
}
.display-info{
    font-size:1.5em;
    background-color: rgba(500, 500, 500, 0.4);
    margin-top:10px;
    border-radius:10px;

}