#main-title{
    font-family: 'Kodchasan', sans-serif; /*  'Bad Script', */ /* 'Nova Script',  *//* ' Aguafina Script',  */ /* 'Oleo Script' *//* ,cursive; */ 
    color:#FFF;
    text-shadow:0 5px 15px black;
    font-size:6vw;
    padding-top: 10%;
}
