.wrap{
    background-image: url(/src/assets/img/stars-background.jpg);
    background-attachment: fixed;
    height:70%;
}

#main-title{
    font-family: "newSpace",'Courier New', Courier, monospace;
    color:#FFF;
    font-size:2em;
    padding-top: 10%;
}
