<div class="container-fluid">

  <div class="col-8 d-inline-block align-top text-center">
    <div class="col-12">
        <img src="/src/assets/img/millenium-falcon-1627322_1920.jpg" alt="Current ship" id="current-ship">
        <div class="display-info">Ship : Wasp</div>
        <div class="display-info">Engines : 2</div>
        <div class="display-info"> nbPlaces : 25000</div>
        <div class="display-info"> Price : 499€</div>
        <div class="display-info"> Infomations : Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, earum. Voluptas cupiditate similique magni nobis fugit, neque quia temporibus, quaerat ex perspiciatis omnis necessitatibus, recusandae pariatur ratione? Perferendis, repudiandae. Sint.</div>
    </div>
      <button>Chose this ship</button>
  </div>

  <div class="col-4 d-inline-block text-center list-column">
    <div class= "bloc-list-ships">
      <app-ship-list></app-ship-list>
    </div>
  </div>
</div>
