<div class="pos-f-t sticky-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark">
      <div class="row p-4 justify-content-center" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <a routerLink="homepage" class="col-3">Home</a>
        <a routerLink="planetchoice" class="col-3">Planet</a>
        <a routerLink="shipchoice" class="col-3">Ship</a>
        <a routerLink="hotelselection" class="col-3 ">Hotel</a>

      </div>

    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark sticky-top">

      <div class="main-title-burger-container">

        <div class="row ">
          
            <button class="navbar-toggler xs-col-5 sm-col-5" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
           
              <div class="burger-bars ">
                  <div class="bar1"></div>
                  <div class="bar2"></div>
                  <div class="bar3"></div>
                  <div class="bar1"></div>         
              </div>
    
            </button>


            <div class=" maintitle-subtitle">

              <div class="mainTitle xs-col-7 sm-col-7">
                <p>WILD SPACE TRAVEL</p> 
              </div>

            <div class="row">    
                <p class="text-muted ">Go beyond your limits</p>
            </div>

            </div>
 

        </div>
      </div>

  </nav>
</div>

