<div class="pos-f-t sticky-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark">
      <div class="row p-4 justify-content-center">
        <a routerLink="homepage" class="col-3">Home</a>
        <a routerLink="planetchoice" class="col-3">Planet</a>
        <a routerLink="shipchoice" class="col-3">Ship</a>
        <a routerLink="hotelselection" class="col-3 ">Hotel</a>

      </div>

    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark sticky-top">

      <div class="main-title-burger-container">
        <div class="row container">
          
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
           
              <div class="burger-bars xs-col-5 sm-col-5 md-col-1">
                  <div class="bar1"></div>
                  <div class="bar2"></div>
                  <div class="bar3"></div>
                  <div class="bar1"></div>
                  
                  
                </div>
         
            </button>


            <div class="xs-col-4 sm-col-4 md-col-11 ">

              <div class="mainTitle">
                <p>WILDSPACE TRAVEL</p>
                <p class="text-muted xs-col-3 sm-col-3 md-col-4 ">Go beyond your limits</p>
              </div>
            </div>
            <!--   -->
              <!-- <p class="text-muted xs-col-6 sm-col-6 md-col-4 ">Go beyond your limits</p> -->
            <!-- </div> -->

        </div>
      </div>

  </nav>
</div>

