@font-face {
    font-family: "newSpace";
    src: url(/src/assets/fonts/new_space/New\ Space.ttf);
}

p{
    margin:0;
}



.row{
    margin:0;
    flex-wrap:no-wrap!important;
}

.navwrap{
    height:150px
}

a{
    background-color:transparent;
    color: #FFF;    
    border: none;
    font-family: "newSpace",'Courier New', Courier, monospace;
    font-size:1.2em;
    transition: all 0.5s;
    

}

a:hover{
    text-shadow:0 5px 15px white;
}


.bg-dark{

    background-color: black !important;
}


.mainTitle{

    font-family: "newSpace";
    color: #FFF;
    text-shadow:0 5px 15px white;
    font-size:5vw;  
    margin-top:0;
    padding-bottom:0;
    
   /*  height:60px; */
   

}

.text-muted{

    font-family: 'Kodchasan', sans-serif; 
    font-size:1em;
    margin-top:0;

}

.navbar-toggler{
    margin-right:0;
    margin-top:0;
    max-height: 100px;  /*hoverable element -non visible */
    outline:none;
    border: none;

}



/*  ----menu burger -----*/

.container {
    display: inline-block;
    cursor: pointer; 
}



.bar1, .bar2, .bar3 {
    width:4em;
    height: 0.6em;
    background-color: #333;
    margin: 1vw 0;
    transition: 0.3s;
    
}

