img{
    width: 100%;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}

.ship-box{
    background-color: rgba(500, 500, 500, 0.6);
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s;
    border:2px solid black;
    border-radius:25px;
}

#list-title-ship{
    font-size:2em;
    font-family: 'Kodchasan', sans-serif; /*  'Bad Script', */ /* 'Nova Script', 'Aguafina Script', 'Oleo Script',cursive */;
    text-shadow:0 5px 15px black;
}

.list-title-ship-price{

    font-size:1em;
    font-family: 'Kodchasan', sans-serif; /*  'Bad Script', */ /* 'Nova Script', 'Aguafina Script', 'Oleo Script',cursive */;
    text-shadow:0 5px 15px black;

}

.inside-ship-box-wrap{
    width: 250px;
}

