<div class="wrap text-center">

  <h1 class="pagetitle">Checkout</h1>

  <div>
    <div class="summary-planet-choice-box col-12 col-lg-4 d-inline-block align-top">
      <h1 class="pagetitle">Destination</h1>
      <img src="/src/assets/img/earth-1151659_1920.jpg">
      <h1>{{userSettings.SelectedPlanet}}</h1>

    </div>

    <div class="summary-options-box col-12 col-lg-4 d-inline-block align-top">


    </div>

    <div class="summary-ship-choice-box col-12 col-lg-4 d-inline-block align-top">
      <h1 class="pagetitle">Ship</h1>
      <img src="/src/assets/img/millenium-falcon-1627322_1920.jpg" alt="Current ship" id="current-ship">
      <h1>{{userSettings.SelectedShip}}</h1>
    </div>
  </div>
</div>
<button class="skew-button"><span>Proceed to payment</span></button>