<div class="wrap text-center">
  
    <div class="summary-planet-choice-box col-12 col-lg-4 d-inline-block align-top">
      <h1>Your destination planet</h1>
      <img src="/src/assets/img/earth-1151659_1920.jpg">
      <h1>{{userSettings.SelectedPlanet}}</h1>
  
    </div>
  
    <div class="summary-options-box col-12 col-lg-4 d-inline-block align-top">
      <h1>Summary</h1>
      <button [routerLink]="['/hotelpage',userSettings.budget,userSettings.distance,userSettings.SelectedPlanet, userSettings.SelectedShip]">GO TO HOTEL SELECTION</button>
    </div>
  
    <div class="summary-ship-choice-box col-12 col-lg-4 d-inline-block align-top">
        <h1>Your spaceship</h1>
        <img src="/src/assets/img/millenium-falcon-1627322_1920.jpg" alt="Current ship" id="current-ship">
        <h1>{{userSettings.SelectedShip}}</h1>
    </div>
  
  
  </div>