<div class="wrap text-center">
    <div class="wip">WORK IN PROGRESS</div>
    <div class="summary-planet-choice-box col-12 col-lg-4 d-inline-block">
      <h1>Your destination planet</h1>
      <img src="/src/assets/img/earth-1151659_1920.jpg">
  
    </div>
  
    <div class="summary-options-box col-12 col-lg-4 d-inline-block">
      <h1>Summary</h1>
  
    </div>
  
    <div class="summary-ship-choice-box col-12 col-lg-4 d-inline-block">
        <h1>Your spaceship</h1>
        <img src="/src/assets/img/millenium-falcon-1627322_1920.jpg" alt="Current ship" id="current-ship">
  
    </div>
  
  
  </div>