
#main-title{
    font-family: 'Kodchasan', sans-serif; /*  'Bad Script', */ /* 'Nova Script',  *//* ' Aguafina Script',  */ /* 'Oleo Script' *//* ,cursive; */ 
    color:#FFF;
    text-shadow:0 5px 15px black;
    font-size: 2em;
    padding-top: 10%;
}




.card-header{
    margin:0 !important;
    padding:0 !important;
}


.btn {

    margin:0 !important;
    padding:0 !important;

}
 .card {

     background-color:black !important;
     color:#fff;
 }

.card-body .hotel-description{
    font-size: 1.2em !important;
    font-family: 'Kodchasan', sans-serif;
    




}



#hotelselectionpage{

    width:80%;
    margin-left:10%;

}


@media only screen and (min-width:900px){

    #hotelselectionpage{

        width:50%;
        margin-left:25%;
        
    
    }

}






.hotel-img-container{
    position:relative;
    text-align: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    padding:0;
    
    
}

/* responsive images vertical  

@media only screen and (min-width:900px){

    .hotel-img-container{

        width: 30%;
        height:100%;
    }
}  
*/


h5{

    font-size:6.5vw;
    text-shadow:0 5px 15px white;
    opacity:0.9;
    
}


.hotelpage-titles {

    font-family: 'Kodchasan', sans-serif; /*  'Bad Script', */ /* 'Nova Script',  *//* ' Aguafina Script',  */ /* 'Oleo Script' *//* ,cursive; */ 
    color:#FFF;
    text-shadow:0 5px 15px black;
    font-size:2em;
    padding-top: 5%;
    padding-bottom:5%;
    text-align: center;
    
    
    
    
}




.hotel-pic-caption{
    position:absolute; 
    padding-top:70px;   
    color:#FFF;
    font-size:2.5em;
    line-height:2em;
    opacity:0.5;
    z-index:1;
    font-family: /* ' Aguafina Script', */ 'Oleo Script' ; 
    
}


.hotel-gallery{
    padding-top:5vw;
    padding-bottom:5vw;

    
}
.hotel-gallery img{
    margin:1vw;
}
    
        
 
#carouselExampleControls{
    padding-top:8vw;
}




.carousel-caption h5{

    font-size:5vw;


}