<div class="hotelpage-titles">
    <p class="top3"> TOP 3 HOTEL DESTINATIONS</p>
</div>

<div id="hotelselectionpage">
    <div id="container" class="hotelpics">
        <div class="row no-gutters">
            <div class="accordion" id="accordionExample">



                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <div class="hotel-img-container no-gutters col-xs-12 col-sm-12 col-lg-12">
                                    <div class=" hotel-pic-caption col-xs-12 col-sm-12 col-lg-12">
                                        <p>MOON RESORT </p>
                                        <button class="more-details-button"> <small>More details</small></button>
                                    </div>
                                    <img class="hotel-pic col-xs-12 col-sm-12 col-lg-12" src="./assets/img/ufo-1942755_1280.jpg" />
                                    <!-- srcset="./assets/img/ufo-1942755_320-320.jpg 320w,
                                                    ./assets/img/ufo-1942755_640-640.jpg 640w,
                                                    ./assets/img/ufo-1942755_1280-1280.jpg 1280w,
                                                    ./assets/img/ufo-1942755_1920-1920.jpg 1920w"> -->
                                            
                                </div>        
                            </button>
                        </h5>
                    </div> 
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="hotel-description">
                                    <li>Rating : 5/5</li>
                                    <li>Price per person/per night : 1500 units </li>
                                    <li>Hotel Amenities:
                                        <ul>
                                            <li>Safe-deposit box at front desk </li>
                                            <li>Bar/lounge</li>
                                            <li>Concierge services </li>
                                            <li>Gift shops or newsstand</li>
                                            <li>Tours/ticket assistance </li>
                                            <li>ATM/banking </li>      
                                        </ul>
                                    </li>  
                                </ul>
                                    
                            </div>
                        </div>
                </div>




       






                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">


                                <div class="hotel-img-container no-gutters col-xs-12 col-sm-12 col-lg-12">

                                    <div class="hotel-pic-caption col-xs-12 col-sm-12 col-lg-12">
                                        <p>MARS FIRECAMP</p>
                                        <button class="more-details-button"><small>More details</small> </button>
                                    </div>
                                    <img class="hotel-pic col-xs-12 col-sm-12 col-lg-12" src="./assets/img/asoggetti-662605-1280.jpg/">
                                    <!--/*srcset="./assets/img/asoggetti-662605-320-320.jpg 320w, 
                                                    ./assets/img/asoggetti-662605-640-640.jpg 640w,
                                                    ./assets/img/asoggetti-662605-640-640.jpg 1280w,
                                                    ./assets/img/asoggetti-662605-640-640.jpg 1920w"> -->

                                </div>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="hotel-description">
                                <li>Rating :3/5</li>
                                <li>Price per person/per night : 2000 units </li>
                                <li>Hotel Amenities:
                                    <ul>
                                        <li>Safe-deposit box at front desk </li>
                                        <li>Bar/lounge</li>
                                        <li>Concierge services </li>
                                        <li>Gift shops or newsstand</li>
                                        <li>Tours/ticket assistance </li>
                                        <li>ATM/banking </li>
                                    </ul>
                                </li>
                            </ul>

                    </div>
                               
                            
                    </div>
                
                        </div>
                    </div>
                </div>












                <div class="card">
                        <div class="card-header" id="headingTree">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTree" aria-expanded="true" aria-controls="collapseTree">

                                <div class="hotel-img-container no-gutters col-xs-12 col-sm-12 col-lg-12">
                                    <div class="hotel-pic-caption col-xs-12 col-sm-12 col-lg-12"> 
                                        <p>PLUTO CRUISE</p>
                                        <button class="more-details-button"><small>More details</small></button> 
                                    
                                    </div>
                                    <img class="hotel-pic col-xs-12 col-sm-12 col-lg-12" src="./assets/img/space-2197862_1280.jpg/">
                                    <!-- srcset="./assets/img/ufo-1942755_320-320.jpg 320w,
                                                ./assets/img/ufo-1942755_640-640.jpg 640w,
                                                ./assets/img/ufo-1942755_1280-1280.jpg 1280w,
                                                ./assets/img/ufo-1942755_1920-1920.jpg 1920w"> -->

                                </div>   
                                
                            </button>
                        </h5>
                        </div>
                    
                        <div id="collapseTree" class="collapse hide" aria-labelledby="headingTree" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="hotel-description">
                                <li>Rating :4/5</li>
                                <li>Price per person/per night : 1500 units </li>
                                <li>Hotel Amenities:
                                    <ul>
                                        <li>Safe-deposit box at front desk </li>
                                        <li>Bar/lounge</li>
                                        <li>Concierge services </li>
                                        <li>Gift shops or newsstand</li>
                                        <li>Tours/ticket assistance </li>
                                        <li>ATM/banking </li>      
                                    </ul>
                                </li>  
                            </ul>
                                
                        </div>

                    
                
                    </div>
                </div>

            </div>
        </div>

                
        <div class="hotelpage-titles"> <p class="wspselection"> WILD SPACE TRAVEL'S SELECTION</p></div>
            <app-hotels></app-hotels>
        