

.hotel-img-container{
    position:relative;
    text-align: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    padding:0;
    
    
}

/* responsive images vertical  

@media only screen and (min-width:900px){

    .hotel-img-container{

        width: 30%;
        height:100%;
    }
}  
*/


h5{

    font-size:6.5vw;
    text-shadow:0 5px 15px white;
    opacity:0.9;
    
}


.hotelpage-titles {

    font-family: 'Kodchasan', sans-serif; /*  'Bad Script', */ /* 'Nova Script',  *//* ' Aguafina Script',  */ /* 'Oleo Script' *//* ,cursive; */ 
    color:#FFF;
    text-shadow:0 5px 15px black;
    font-size:6vw;
    padding-top: 5%;
    text-align: center;
    
    
    
    
}


.hotel-pic-caption{
    position:absolute; 
    padding-top:20vw;   
    color:#FFF;
    font-size:8vw;
    opacity:0.5;
    z-index:1;
    font-family: 'Kodchasan', sans-serif;  /* 'Bad Script' *//* , */ /* 'Nova Script', */ /* ' Aguafina Script',  *//*  'Oleo Script', *//* , *//* cursive */; 
    
}


.hotel-gallery{
    padding-top:5vw;
    padding-bottom:5vw;

    
}
.hotel-gallery img{
    margin:1vw;
}
    
        
 
#carouselExampleControls{
    padding-top:8vw;
}


.carousel-caption {

    padding:10vw;

}


.carousel-caption p{

    font-size:10vw;
    opacity:0.6;

}