@font-face{
    font-family: "newSpace";
    src: url(/src/assets/fonts/new_space/New\ Space.ttf);
}

@font-face{
    font-family: "spaceSurfer";
    src: url(/src/assets/fonts/spacesurfer/SpaceSurfer_Demo.ttf)
}

.wrap{
    background-image: url(/src/assets/img/stars-background.jpg);
    background-attachment: fixed;
    padding:10px;
}