<div id="form-wrapper">

  <!-- Budget input  -->

  <mat-form-field class="example-full-width research-form-inputs text-center">
    <input matInput placeholder="BUDGET MAX" name="budget" [(ngModel)]="budget" value="{{budget}}" required>
  </mat-form-field>

  <mat-form-field class="d-block text-center research-form-inputs">
    <mat-select placeholder="DISTANCE" [(ngModel)]="distance" required>
      <mat-option *ngFor="let distance of distances"  [value]="distance.value">
        {{distance.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width research-form-inputs text-center">
    <input matInput [matDatepicker]="picker" placeholder="DATE" [(ngModel)]="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker [(ngModel)]="roomsFilter.date"  ngDefaultControl (selectedChanged) ="onChange($event)"> </mat-datepicker>
  </mat-form-field>
    

  <a mat-stroked-button *ngIf="budget!=undefined && distance!=undefined && date != undefined" (click)="getInfo()" id="submitButton" class="research-form-button" [routerLink]="['/planetchoice', budget,distance]">SEARCH MY TRIP</a>

</div>


