/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }

body {
    margin: 0; 
    font-family: 'Roboto', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.pagetitle{
    font-family: 'Kodchasan', sans-serif; /*  'Bad Script', */ /* 'Nova Script',  *//* ' Aguafina Script',  */ /* 'Oleo Script' *//* ,cursive; */ 
    color:#FFF;
    text-shadow:0 5px 15px black;
    font-size: 2em;
    padding-top: 2%;
}
.box-container{
    border: 1px solid rgba(500, 500, 500, 0.4);
    border-radius: 25px;
    padding : 10px 0;
}

.phone-choose-button{
    width: 60%;
    max-height: 50px;
    background-color: black;
    margin: 10px 10px;
    color:#fff;
    font-family: 'Kodchasan', sans-serif;
}